.gamegrid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}
.gamegrid div {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-around;
}
.player1, .player2{
    height: 200px;
    width: 200px;
    text-align: center;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.o{
    background: url('circle.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.x{
    background: url('X.webp');
    background-repeat: no-repeat;
    background-size: cover;
}